//- 处理前端输出的不规范值
- var judgevalue = function(str){
-   if(!str || str==='null'){
-       str = ''; 
-   }else if (typeof(str) === 'number'){
-       str = str.toFixed(2);
-   }
-   return str;
- }
//- 获取第三层表格多个值的html
- var gettablehtml = function(object){
-   var html="<tr><td rowspan='"+ object.fields.length +"'>"+ object.namezh +"</td>";
-   var fields = object.fields;
-   for(var i=0,L=fields.length;i<L;i++){
-       var calinfo = judgevalue(fields[i].calinfo);
-       var sign = judgevalue(fields[i].sign);
-       var score = "";
-       var max = "";
-       var min = "";
-       if (sign != ""){
-           score = judgevalue(score[sign]);
-           if (middle[sign] != undefined){
-               max = judgevalue(middle[sign].MAX);
-               min = judgevalue(middle[sign].MIN);
-           }
-           sign = judgevalue(origin[sign]);
-       }
-       var unit = judgevalue(fields[i].unit);
-       var reference = judgevalue(fields[i].reference);
-       var comment = judgevalue(fields[i].comment);
-       if(i==0){
-           html += "<td>"+calinfo+"</td><td>"+sign+"</td><td>"+unit+"</td><td>"+score+"</td><td>"+ min +"</td><td>"+ max +"</td><td>"+reference+"</td><td>"+comment+"</td></tr>";
-       }else{
-           html += "<tr><td>"+calinfo+"</td><td>"+sign+"</td><td>"+unit+"</td><td>"+score+"</td><td>"+ min +"</td><td>"+ max +"</td><td>"+reference+"</td><td>"+comment+"</td></tr>";  
-       }
-   }
-   return html;
- }

doctype html
html
    head
        meta(http-equiv="Content-Type",content="text/html; charset=UTF-8")
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible",content="IE=Edge,chrome=1")
        meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

        title
            | 分析结果
        link(rel='stylesheet', href='/stylesheets/analyze.css')
    body
        header
            .title
                span
                p
                    | 严寒地区绿色村镇体系数据库系统
            .navigation
                ul
                    li
                        a(href="#")
                            | 主页
                    li
                        a(href="#")
                            | 信息
                    li
                        a(href="#")
                            | 联系我们
                    li
                        a(href="#")
                            | 网站地图
                    li
                        a(href="#")
                            | 问题反馈
                    li
                        a(href="#")
                            | 帮助
            .selector
                ul
                    li
                        a(href="/")
                            | 村镇数据录入
                    li
                        a(href="/analyze/origin/1")
                            | 基础数据库
                    li
                        a(href="/analyze/standerd")
                            | 标准数据库
                    li
                        a(href="/analyze/1",style="color:orange")
                            | 绿色指标评估
        .board
            .aside
                .title
                    h3
                        | 限定范围
                .sec-title
                    h4
                        | 村镇选择
                    ul
                        each cunzhen in xiangzhenList
                            li
                                - var judge = (id==cunzhen.id)?true:false
                                if judge
                                    !{"<a class='hover' href='/analyze/"+cunzhen.id+"''>"+cunzhen.ZhenMingChen+"</a>"}
                                else
                                    !{"<a href='/analyze/"+cunzhen.id+"''>"+cunzhen.ZhenMingChen+"</a>"}
            .main
                .title
                    h3
                        | 分析结果
                    .content
                        table
                            each cal in calculateFields
                                tbody
                                    tr
                                        td(colspan="9")
                                            p
                                                strong=cal.namezh
                                    tr
                                        td
                                            | 计算指标
                                        td
                                            | 计算方式
                                        td(colspan="2")
                                            | 计算结果
                                        td
                                            | 评估结果
                                        td(colspan="2")
                                            | 指标评判阈值
                                        td
                                            | 评估依据
                                        td
                                            | 备注
                                    tr
                                        td(colspan="5")
                                        td
                                            | MIN
                                        td
                                            | MAX
                                        td(colspan="2")
                                    each field in cal.fields
                                        tr
                                            !{gettablehtml(field)}
            div(style="clear:both;")
