- var border = ""
 //- 生成一个随机的id
- var randomid = function(){
-    var chars = 'ABCDEFGHJKMNPQRSTWXYZabcdefhijkmnprstwxyz2345678';
-　　var maxPos = chars.length;
-　　var pwd = '';
-　　for (i = 0; i < 32; i++) {
-　　　　pwd += chars.charAt(Math.floor(Math.random() * maxPos));
-　　}
-　　return pwd;
- }
//- 判断获取值的结果，渲染到前端
- var getvalue = function(data,type){
-   if(!data){
-        return "<p></p>"; 
-   }else if (type === 'value'){
-       data = originData[data];
-       if (typeof(data) === 'string' && data.length > 20) {
-           var id = randomid();
-           border += addborder(data,id);
-           return "<button data-id="+id+">详细</button>";
-       }else if (typeof(data) === 'object'){
-           if(typeof(data[0]) === 'string' && data[0].length > 20){
-               var v = "";
-               data.forEach(function(e){
-                   var id = randomid();
-                   border += addborder(e,id);
-                   v += "<button data-id="+id+">详细</button>";                   
-               });
-               return "<p>"+v+"</p>";
-           }else{
-               var data2 = "";
-               if (data === null){}else{
-                   for(var i in data){
-                       data2 += "<p>"+i+":"+(data[i]*100).toFixed(2)+"%</p>"
-                   }
-               }
-               return "<p>"+data2+"</p>";
-           }
-       }else if(!data || data==='null'){
-           return "<p></p>";
-       }else if (typeof(data)==='number'){
-           return "<p>"+data.toFixed(2)+"</p>";
-       }else{
-           return "<p>"+data+"</p>";
-       }
-   }else{
-       return "<p>"+data+"</p>";
-   }
- }
//- 添加到popup上
- var addborder = function(data,id){
-    var html = "<div id="+id+" class='bodercast'><div class='box'><div class='close'><a>x</a></div><div class='content'><table><tbody>";
-    data = JSON.parse(data);
-    for(var time in data){
-       html += "<tr><td>"+ time +"</td><td>"+ data[time] +"</td></tr>";
-    }
-    html += "</tbody></table></div></div></div>";
-    return html;
- }

doctype html
html
    head
        meta(http-equiv="Content-Type",content="text/html; charset=UTF-8")
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible",content="IE=Edge,chrome=1")
        meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

        title
            | 分析结果
        link(rel='stylesheet', href='/stylesheets/analyze.css')
        style.
            tbody{width:100%}
    body
        header
            .title
                span
                p
                    | 严寒地区绿色村镇体系数据库系统
            .navigation
                ul
                    li
                        a(href="#")
                            | 主页
                    li
                        a(href="#")
                            | 信息
                    li
                        a(href="#")
                            | 联系我们
                    li
                        a(href="#")
                            | 网站地图
                    li
                        a(href="#")
                            | 问题反馈
                    li
                        a(href="#")
                            | 帮助
            .selector
                ul
                    li
                        a(href="/")
                            | 村镇数据录入
                    li
                        a(href="/analyze/origin/1",style="color:orange")
                            | 基础数据库
                    li
                        a(href="/analyze/standerd")
                            | 标准数据库
                    li
                        a(href="/analyze/1")
                            | 绿色指标评估
        .board
            .aside
                .title
                    h3
                        | 限定范围
                .sec-title
                    h4
                        | 村镇选择
                    ul
                        each block in reduceList
                            li
                                - if(!block){continue}
                                - var judge = (id==block.xiangzhen.id)?true:false
                                - var flag = 0
                                if judge
                                    !{"<a class='hover' href='/analyze/origin/"+block.xiangzhen.id+"''>"+block.xiangzhen.ZhenMingChen+"</a>"}
                                else
                                    !{"<a href='/analyze/origin/"+block.xiangzhen.id+"''>"+block.xiangzhen.ZhenMingChen+"</a>"}
                                ul
                                    each cunzhuang in block.cunzhuang
                                        - flag ++
                                        - if (flag === 1){logotitle = 'zhengqu'}else{logotitle = 'cunzhuang'}
                                        li
                                            !{"<a href='/analyze/get/zhenquhuocunzhuang/"+cunzhuang.id+"#"+ logotitle +"'>"+cunzhuang.name+"</a>"}
            .main
                .title
                    h3
                        | 分析结果
                    .select
                        a(href="#xiangzhen",data-target="xiangzhen")
                            | 镇域数据
                        a(href="#zhuhu",data-target="zhuhu")
                            | 问卷信息
                    .content
                        table#xiangzhen(style="display:none")
                            tbody
                                each unit in fields.xiangzhen.childfield
                                    if unit.datatype === 'null'
                                        tr
                                            td(colspan='3')
                                                p
                                                    strong= unit.fieldname
                                        tr
                                            td
                                                p
                                                    strong
                                                        | 内容名称
                                            td
                                                p
                                                    strong
                                                        | 值
                                            td
                                                p
                                                    strong
                                                        | 单位
                                    else if unit.fieldname === '镇名称'
                                    else if unit.visible === false
                                    else
                                        tr
                                            td= unit.fieldname
                                            td
                                                !{getvalue(unit.sign,'value')}
                                            td
                                                !{getvalue(unit.unit,'unit')}

                        
                        table#zhuhu(style="display:none")
                            tbody
                                tr
                                    td(colspan="3")
                                        p
                                            strong= fields.zhuhu.classname
                                each unit in fields.zhuhu.childfield
                                    if unit.datatype === 'null'
                                        tr
                                            td(colspan='3')
                                                p
                                                    strong= unit.fieldname
                                        tr
                                            td
                                                p
                                                    strong
                                                        | 内容名称
                                            td
                                                p
                                                    strong
                                                        | 值
                                            td
                                                p
                                                    strong
                                                        | 单位

                                    else
                                        tr
                                            td= unit.fieldname
                                            td
                                                !{getvalue(unit.sign,'value')}
                                            td
                                                !{getvalue(unit.unit,'unit')}

            div(style="clear:both;")

        !{border}
        script(src="/script/jquery.min.js")
        script.
            $(".main .title .select a").each(function(){
                $(this).on('click',function(){
                    var target = $(this).data('target');
                    if (target === 'zhenquhuocunzhuang'){
                        $("#zhenquhuocunzhuang").css('display','block');
                        $("#xiangzhen").css('display','none');
                        $("#zhuhu").css('display','none');
                    }else if (target === 'xiangzhen'){
                        $("#zhenquhuocunzhuang").css('display','none');
                        $("#xiangzhen").css('display','block'); 
                        $("#zhuhu").css('display','none');                       
                    }else if (target === 'zhuhu'){
                        $("#zhenquhuocunzhuang").css('display','none');
                        $("#xiangzhen").css('display','none'); 
                        $("#zhuhu").css('display','block'); 
                    }else{
                        $("#zhenquhuocunzhuang").css('display','none');
                        $("#xiangzhen").css('display','none');
                        $("#zhuhu").css('display','none'); 
                    }
                });
            });
             //- 对button按钮的监听
            var buttons = $('button');
            var bindevent = function(id,target){
                target.on('click',function(){
                    $("#"+id).css('display','block');
                    //- 关闭popup
                    $("#"+id+" .box .close a").on('click',function(){
                        $("#"+id).css('display','none');
                    });
                });
            }
            for(var i=0,L=buttons.length;i<L;i++){
                var target = $(buttons[i]);
                var id = target.data('id');
                bindevent(id,target);
            }
